/*
#000000 black
#ffffff white
#ac1e39 red
#e1b913 yellow
#178048 green
#214ea0 blue
#3d99C9 light blue
*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  font-size: 2em;
  text-align: left;
  white-space: normal; /* Allows text to wrap */
  word-break: break-word; /* Breaks long words */
  overflow-wrap: break-word;
  max-width: 100%; /* Ensures text doesn't overflow */
}

.user {
  font-size: 1em;
  color: #888;
  text-align: left;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
  max-width: 1200px;
  margin: auto;
}

.post {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--light-blue);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  word-wrap: break-word;  /* Ensures long words wrap */
  overflow-wrap: break-word; /* Alternative wrapping method */
  display: flex;
  flex-direction: column;
}

.post:hover {
  transform: translateY(-4px);
}